{%- set link.refs = link.refs + ["[boostxl-sharp128]: https://www.ti.com/tool/BOOSTXL-SHARP128"] -%}
### [__BOOSTXL-SHARP128 LCD & SD Card BoosterPack__][boostxl-sharp128]

{% if mod == "mod_sd_cs" %}
* BoosterPack pin header BP.8 (__`SD_CS`__) must be jumpered to BP.28 when using the SD card.
{% elif mod == "mod_sd_cs_and_resolder" %}
The SD card's default SPI Chip Select pin is not compatible with this
LaunchPad's header pin layout. Use one of the following modification(s)
to the BOOSTXL-SHARP128 to enable SD card usage with the __sdraw__,
  __fatsd__, and __fatsdraw__ examples.

* Use a jumper wire to connect BP.8 (__`SD_CS`__) and BP.12 (__`SD_CS*`__).
* Unsolder resistor __`R16`__ and re-solder it on __`R17`__.
  __`SD_CS*`__ uses the same LaunchPad header pin as __`BTN-2`__.
{% elif mod == "mod_cc32" %}
The SD card's default SPI bus is not compatible with this LaunchPad's
header pin layout. To use the SD card, the BoosterPack ___cannot___ be
placed directly atop the LaunchPad. Use the following modification(s) to
enable SD card usage with the __fatsd__, __fatsdraw__, and __sdraw__
example(s).

* Use a jumper wire to connect:

  |   LaunchPad    | BOOSTXL-SHARP128 |
  |----------------|------------------|
  | __`3V3`__      | __`3V3`__        |
  | __`GND`__      | __`GND`__        |
  | __`P08/CMD`__  | __`SPI_MOSI`__   |
  | __`P07/CLK`__  | __`SPI_CLK`__    |
  | __`P06/DATA`__ | __`SPI_MISO`__   |
  | __`3V3`__      | __`SD_CS`__      |

The LCD's SPI peripheral select and power pins are not compatible with this
LaunchPad's header pin layout. The BoosterPack ___can___ be placed
directly atop the LaunchPad. Use the following modifications to use
the BOOSTXL-SHARP128 LCD with the __display__ example.

* Use a jumper wire to connect:

  | LaunchPad | BOOSTXL-SHARP128 |
  |-----------|------------------|
  | __`3V3`__ | __`LCD_PWR`__    |
  | __`P03`__ | __`LCD_CS`__     |
{% else %}
* No modifications are needed.
{% endif %}

{# Intentional: empty line #}