{%- set link.refs = link.refs + ["[boostxl-canfd-lin]: https://www.ti.com/tool/BOOSTXL-CANFD-LIN"] -%}
### [__BOOSTXL-CANFD-LIN SPI to CAN FD + LIN BoosterPack__][boostxl-canfd-lin]

The BoosterPack requires an external voltage supply connected to the barrel jack __`J2`__ in the range of 6 V to 24 V.

The following modifications are required:

{% if mod == "mod_cc23" %}
* On the LaunchPad, use a jumper wire to connect header pin BP.31 (unlabeled) to pin BP.36 (__`DIO8`__).
* On the BoosterPack, bend down header pin BP.33 (__`nWKRQ`__) to prevent the signal from interfering with the LaunchPad
  __`SWDCK`__ signal.
* Remove jumpers __`J11`__ and __`J12`__ to disconnect BoosterPack's 3.3 V and 5 V rails if the LaunchPad is powered from
  the debugger.
{% else %}
* No modifications are needed.
{% endif %}

{# Intentional: empty line #}