{%- set link.refs = link.refs + ["[bp-bassensorsmkii]: https://www.ti.com/tool/BP-BASSENSORSMKII"] -%}
### [__BP-BASSENSORSMKII BoosterPack__][bp-bassensorsmkii]

{% if mod == "mod_jumper_tv_ov" %}
The TMP116's power pin is not compatible with this LaunchPad. Use the
following modification to enable the TMP116's usage with the
__i2ctmp__ and __portable__ examples.

* Use a jumper wire to connect BoosterPack pin header BP.28 (__`T_V+`__) to BP.1 (__`3V3`__).

The OPT3001's power pin is not compatible with this LaunchPad. Use the
following modification to enable the OPT3001's usage with the
__i2copt3001_cpp__ example.

* Use a jumper wire to connect BoosterPack pin header BP.27 (__`O_V+`__) to BP.22 (unlabeled).
{% elif mod == "mod_cc32" %}
The OPT3001's interrupt pin is not compatible with this LaunchPad. Use the
following modification to enable the OPT3001's usage with the
__i2copt3001_cpp__ example.

* Use a jumper wire to connect BoosterPack pin header BP.25 (__`O_INT`__) to BP.7 (__`P05`__).
{% else %}
* No modifications are needed.
{% endif %}

{# Intentional: empty line #}