## Reset Behavior

{% if opts == "cc32xxs" %}
By default, the application is not retained after a power reset.
{% elif opts == "cc32xxsf" %}
By default, the application is not retained after a power reset. To enable
retention of the application for debug purposes, the application should
add the following pre-defined symbol: `__SF_DEBUG__`. This will place a header,
`Board_debugHeader`, into flash. This header is defined in the SysConfig
generated ti_drivers_config.c file.

Application retention will not function if the onboard external flash contains
an image (which it does by default on new boards). To erase this flash, use the
UniFlash tool to create and burn an empty image. Once the external flash is
cleared, programs will be retained after reset if the debug symbol is defined.

>__Note:__ The user should ensure the `Board_debugHeader` is erased if
retention of the application is no longer desired. The ti_drivers_config.c file
will erase the `Board_debugHeader` if `__SF_NODEBUG__` is defined.
{% endif %}

{# Intentional: empty line #}