## SysConfig Board File

The [{{boardName}}.syscfg.json](../.meta/{{boardName}}.syscfg.json)
is a handcrafted file used by SysConfig. It describes the physical pin-out
and components on the LaunchPad.

{# Intentional: empty line #}